.i{
    display: flex;
    height: 100vh;
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-left-wrapper{
    padding: 50px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.i-intro{
    font-size: 30px;
    font-weight: 300;
}

.i-name{
    font-size: 100px;
    font-family: 'Moon Dance', cursive;
}

.i-title{
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);

    }
    75%{
        transform: translateY(-150px);

    }
    100%{
        transform: translateY(-200px);

    }
}

.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgba(116, 52, 63, 0.931);
    display: flex;
    align-items: center;
}

.i-scroll{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}
.i-img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    margin-right:0;
    margin-left: auto;
    display:block;
    position: absolute;

}

.i-bg{
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);    
    /* background-color: rgb(95, 139, 180); */
    background-image: linear-gradient(to bottom right, rgba(116, 52, 63, 0.931), rgb(194, 120, 212));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.i-description{
    font-size: 20px;
}

.i-icons{
    width: 70%;
    size: 3em;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

a {
    color:rgb(14, 0, 0);
    text-decoration: none !important;
}

a:visited { 
    text-decoration: none !important; 
    color: inherit;
   }


   @media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
      height: 80vh;
    }
  
    .i-left-wrapper {
    
      padding:0px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
   
    }

 
    .i-description{
      display: none;
    }

    .i-name {
        font-size: 70px;
    }

    .i-icons {
        padding: 30px;
    }
  }